body {
    font-family: Arial, sans-serif;
}
main {
    max-width: 900px; 
    margin: auto;
    padding: 20px;
}
table {
    width: 100%; 
    border-collapse: collapse;
    margin-bottom: 10px;
}
th, td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px; 
}
.pagination li {
    margin: 0 5px;
}
.pagination a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    color: #007bff;
    border-radius: 4px;
}
.pagination a:hover {
    background-color: #007bff;
    color: white;
}
.tag {
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
}
.tag.adult {
    background-color: #b20909; /* 성인 */
}

.tag.gambling {
    background-color: #ea1acb; /* 불법도박 */
}

.tag.freewebtoon {
    background-color: #1c3ee9; /* 불법웹툰 */
}

.tag.torrent {
    background-color: #e2901d; /* 토렌트 */
}

.tag.reported {
    background-color: #f13030; /* 신고됨 */
}

.tag.not-reported {
    background-color: #0aa20f; /* 신고안됨 */
}
form {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}
form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}
form button {
    padding: 10px 20px;
    border: none;
    background-color: #0033cc; /* #b52e1c;*/
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
form button:hover {
    background-color: #007bff; /*#fb8749; /* 마우스를 올렸을 때의 배경색 */
}